header {
    margin: 0auto;
    text-align: center;
    padding: 15vh;
    align-items: center;
    background-color: #000000;
    height: 40vh;

}

header a {
    text-decoration: none;
    font-weight: 700;
    font-style: bold;
    background-color: #FF0000;
    border-color: #20c1dd;
    color: whitesmoke;
    border-radius: 10px;
    padding: 1.0rem 2.0rem;
    display: inline-block;
    margin-top: 5px;
    position: relative;
    align-items: center;
}