header.body {
    margin: 0auto;
    text-align: center;
    padding: 15vh;
    align-items: center;
    background-color: #FF0000;
    height: 40vh;

}
header h1 {
    align-items: center;

    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 900%;

    margin: 0auto;
}
